@use "sass:math";
// Functions
// translate PX to REM
@function toRem($px, $current: 16) {
	$result: math.div($px, $current) + rem;
	@return $result;
}
// translate PX to EM
@function toEm($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

// Variables
$fontFamilyArmenian: "NotoSansArmenian";
$fontFamily: "Montserrat";
$fontSize: toRem(16);
$mainColor: #1a1a1a;
$bgColor: #fff;
$orangeColor: #fda01b;
$orangeHoverColor: #fda01bcc;
$minWidth: 320;
$maxWidthContainer: 1380;
$containerPadding: 16;
$containerWidth: $maxWidthContainer + $containerPadding;
// Breakpoints
$pc: toEm($containerWidth);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);
