// Fonts

// Variables
$fontFamily: "Arial";
$fontSize: toRem(16);
$mainColor: #000;
$bgColor: #fff;
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1400;
$containerPadding: 16;
// Breakpoints
$containerWidth: $maxWidthContainer + $containerPadding;
$pc: toEm($containerWidth);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98);

// Functions
// translate PX to REM
@function toRem($px, $current: 16) {
	$result: math.div($px, $current) + rem;
	@return $result;
}
// translate PX to EM
@function toEm($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}

// Reset styles
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
*::after,
*::before {
	display: inline-block;
}
body,
html {
	height: 100%;
	min-width: $minWidth;
}
body {
	color: $mainColor;
	line-height: 1;
	font-size: $fontSize;
	font-family: $fontFamily, Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bgColor;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
option,
select {
	font-family: inherit;
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
.lock body {
	overflow: hidden;
	touch-action: none;
	-ms-scroll-chaining: none;
	overscroll-behavior: none;
}

// Settings
body {
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	.loaded & {
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Push footer
	> main {
		flex: 1 1 auto;
	}
	// For sliders
	> * {
		min-width: 0;
	}
}
[class*="__container"] {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 $containerPadding;
}
