// Fonts
// @font-face {
// 	font-family: 'SF UI Text';
// 	src: url('../../fonts/SFUIText-Regular.woff2') format('woff2'),
// 		 url('../../fonts/SFUIText-Regular.woff') format('woff');
// 	font-weight: normal;
// 	font-style: normal;
// 	font-display: swap;
// }

// Reset styles
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*::after,
*::before {
	box-sizing: border-box;
}
*::after,
*::before {
	display: inline-block;
}
body,
html {
	height: 100%;
	min-width: $minWidth + px;
}
html[lang="hy"] body {
	font-family: $fontFamilyArmenian, Arial, Helvetica, sans-serif;
}
html[lang="en"] body {
	font-family: $fontFamily, Arial, Helvetica, sans-serif;
}
html[lang="ru"] body {
	font-family: $fontFamily, Arial, Helvetica, sans-serif;
}
body {
	color: $mainColor;
	line-height: 1;
	font-size: $fontSize;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $bgColor;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea {
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	background-color: transparent;
}
input,
textarea {
	width: 100%;
}
label {
	display: inline-block;
}
button,
option,
select {
	font-family: inherit;
	cursor: pointer;
}
a {
	display: inline-block;
	color: inherit;
	text-decoration: none;
}
ul li {
	list-style-type: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

// Settings
body {
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	.loaded & {
	}
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	// Push footer to bottom
	> main {
		flex: 1 1 auto;
	}
	// For sliders
	> * {
		min-width: 0;
	}
}
[class*="__container"] {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	padding: 0 $containerPadding + px;
}
